<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>registro</title>
    
    <!-- Main Style -->
  
    <link rel="stylesheet"  media="screen" href="assets/css/estiloinicio1.css">
     
    <!-- Extras -->
    <!-- -->
   
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    

</head>

<body>

    <div id="login-form">

        <h1>REGISTRO</h1>

        <fieldset>

            <form action="ejemplo2.html" method="">

               <input type="text" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false" placeholder="ingrese su cedula">

               
                    
                        <input type=submit value="verificar">
                
              <!--  <input type="submit" value="verificar" >-->


                <footer class="clearfix">
 
                 <!--   <p><span class="info">?</span><a href="#">olvido contraseña</a></p>
                    <p><span class="info">?</span><a href="inicio1.html" class="fancybox fancybox.iframe">JODANSEEEE</a></p> -->

                    <button type="button" class="btn btn-outline btn-default" onclick="history.go(-1); return false;"><span class="glyphicon glyphicon-ban-circle"></span> Volver</button>


                </footer>

            </form>

                     
        </fieldset>

    </div> 
    

    
</body>
</html>